/* Google Fonts - Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* ============
   Reset básico
   ============ */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =========================
   Estilos generales y fuentes
   ========================== */
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif; /* Aplicar la fuente redondeada */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ========
   Enlaces
   ======== */
a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

/* ==========
   Botones
   ========== */
button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

/* ==========
   Variables
   ========== */
:root {
    --primary-orange: #FF8C00; /* DarkOrange */
    --accent-orange: #FFA500;  /* Orange */
    --black: #000000;
    --soft-black: #1A1A1A;
    --dark-gray-text: #333333;
    --light-gray-text: #CCCCCC;

    --background-color: var(--soft-black); /* Fondo principal oscuro */
    --text-color: var(--light-gray-text); /* Texto claro sobre fondo oscuro */
    --link-color: var(--accent-orange);
    --button-background-color: var(--primary-orange);
    --button-text-color: var(--black); /* Texto oscuro en botones naranjas */
    --button-hover-background-color: var(--accent-orange);
}

/* Ajustes para el modo oscuro (si ya existe, se sobrescribirá o complementará en App.css) */
body.dark-mode {
    --background-color: var(--soft-black);
    --text-color: var(--light-gray-text);
    --link-color: var(--accent-orange);
    --button-background-color: var(--primary-orange);
    --button-text-color: var(--black);
    --button-hover-background-color: var(--accent-orange);
}